<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SpringBootSeleniumTestNGTest">

    <test name="Demo Spring Boot Selenium Test">

        <classes>
            <class name="com.ea.SpringBootSeleniumFramework.runner.TestRunner"></class>
        </classes>

    </test>

</suite>